{{ define "content" }}
<div class="spacer"><br>&nbsp;<br>&nbsp;<br></div>
      <div>
        <h2 style="text-align:center;">Oops, You Are Offline!</h2>
<center><img src="https://julzinsight.co/images/503.svg" alt="503" width="503px" align="center" style="align:center;text-align:center;"></center>
<br>
        <h4 style="text-align:center;">
            Connect To The Internet or <a href="javascript:diagnoseErrors()" id="diagnose-link" jstcache="0">Run Network Diagnostics</a>
              <br>
              <a onClick="window.location.reload()">Refresh</a>
        </h4>
      </div>
{{ end }}
