/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #542bff #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #542bff;
    border-radius: 10px;
    border: 3px solid #000000;
  }

  /* .background {
    background-image: url('/images/julz5.jpg');
    background-color: #000000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: center;
    background-attachment: fixed;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    z-index: 1;
  } */
