.home_backgroundimage {
    display: block;
    background-color: #000;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.hero_backgroundimage, .image-32 {
    height: 100%;
}

.image-32 {
    position: relative;
    overflow: hidden;   
}
