/* ===== Scrollbar CSS ===== */
html::-webkit-scrollbar {
    width: 10x;
  }

html::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background: #4320d6;
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:hover {
    background: #4320d6;
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:active {
    background: #4320d6;
    border-radius: 10px;
  }

html {
    scrollbar-width: auto;
    scrollbar-color: #4320d6 #000000;
  }

.bg-image {
  background-image: url('/background.svg') !important;
  background: #000000 !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
}
