.home_backgroundimage {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: block;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: visible;
    width: 100vw;
    height: 60vh;
    max-width: none;

    @media screen and (max-width: 479px)
    .image-32 {
    height: 60vh;
	}
}
