{{ $post := .post_page }}
<article class="cell post-card">
  {{ if $post.Params.thumb_image }}
  <a class="post-card__image" href="{{ $post.URL }}">
    <img src="{{ $post.Params.thumb_image | relURL }}" alt="{{ $post.Params.thumb_image_alt }}" />
  </a>
  {{ end }}
  <header class="post-card__header">
    <h3 class="post-card__title"><a href="{{ $post.URL }}">{{ $post.Params.title }}</a></h3>
    <div class="post-card__meta">
      <time class="published" datetime="{{ $post.Date | dateFormat "2006-01-02 15:04" }}">{{ $post.Date | dateFormat "January 02, 2006" }}</time>
    </div>
  </header>
  {{ if $post.Params.excerpt }}
  <p class="post-card__body">
    {{ $post.Params.excerpt }}
  </p>
  {{ end }}
</article>
