<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
<script>
  window.formbutton = window.formbutton || function() {
    (formbutton.q = formbutton.q || []).push(arguments)
  };
  formbutton("create", {
    action: "https://formspree.io/f/xoqrqnky",
    title: "Contact Us",
    theme: "minimal",
    fields: [
      {
        name: "email",
        type: "email",
        label: "Your Email",
        required: true
      },
      {
        name: "name",
        type: "text",
        label: "Your Name or Company Name",
        required: true
      },
      {
        name: "Message",
        type: "textarea",
        required: true
      },
      {
        type: "submit"
      }
    ],
    styles: {
      fontFamily: '"Poppins", san-serif',
      button: {
        background: "#542bff"
      },
      title: {
        background: "#542bff",
      }
    },
  })
</script>
