{{ $section := .section }}
<section id="{{ $section.section_id }}" class="hero">
  <div class="container container--lg" style="margin: auto;">
    {{ if $section.title }}
    <h1 class="hero__title introhero">
      <span style="font-size:14px;font-family: Poppins, sans-serif;font-weight:200;font-style: italic;">Ideate → Strategize → Design → Build/Dev → Test/Market → Launch</span><br>
      {{ $section.title }}</h1>
    {{ end }}
    {{ if $section.content }}
    <div class="hero__body text-block">
      {{ partial "markdownify-block" $section.content }}
    </div>
    {{ end }}
    <div class="hero__actions button-group">
      {{ partial "julz1hr.html" . }}<a data-cal-link="julzinsight/1hour" class="button button--primary">Let's build something impactful →</a>
    </div>
  </div>
</section>
