{{ $section := .section }}
<section id="{{ $section.section_id }}" class="hero">
  <div class="container container--lg" style="margin: auto;">
    {{ if $section.title }}
    <h1 class="hero__title" style="-webkit-text-fill-color: transparent;background: linear-gradient(91.92deg, rgb(191, 168, 167) 0.99%, rgb(207, 211, 222) 34.85%, rgb(173, 187, 210) 67.46%, rgb(159, 172, 172) 79.92%, rgb(224, 219, 206) 93.48%) text;}"><span style="font-size:13px;font-family: Poppins, sans-serif">Cutting edge. Purpose driven. Built different.</span><br>{{ $section.title }}</h1>
    
    {{ end }}
    {{ if $section.content }}
    <div class="hero__body text-block">
      {{ partial "markdownify-block" $section.content }}
    </div>
    {{ end }}
    {{ if $section.actions }}
    <div class="hero__actions button-group">
      {{ $include_dict := dict "actions" $section.actions }}
      {{ partial "cta_buttons.html" $include_dict }}
    </div>
    {{ end }}
  </div>
</section>
