<br>
{{ $section := .section }}
<section id="{{ $section.section_id }}" class="hero">
  <div class="container container--lg" style="align-items: center;text-align: center;">
    {{ if $section.title }}
    <h1 class="hero__title introhero">
      <span style="font-size:12px;font-family: Poppins, sans-serif;font-weight:400;font-style:italic;">Pioneering innovation. Illuminating possibilities.</span><br>
      {{ $section.title }}
    </h1>
    {{ end }}
    {{ if $section.content }}
    <div class="hero__body text-block">
      {{ partial "markdownify-block" $section.content }}
    </div>
    {{ end }}
    <div class="hero__actions button-group center" style="justify-content: center;">
      <a href="/contact/" class="button button--primary" style="text-color: white;">Let's Chat →</a>
      <a href="/about/" class="button button--secondary" style="text-color: white;">Learn More</a>
    </div>
  </div>
</section>
<br>

