<style>
    .newsletter-form {
  display: flex;
  border-radius: 0;
  overflow: hidden;
  width: 471px;
}

.newsletter-form input[type="email"] {
  flex: 1;
  padding: 10px;
  border: 3px solid #542bff;
  border-radius: 0;
}

.newsletter-form input[type="email"]::placeholder {
  color: #888;
}


.newsletter-form button {
  padding: 10px 20px;
  background-color: #542bff;
  color: #fff;
  border: none;
  border-radius: 0;
}
    @media only screen and (max-width: 768px) {
 .newsletter-form {
  width: 80%;
}
}
</style>

<div class="container newsletter container--lg" id="newsletter" align="center">
        <h3 class="title">Subscribe to Our Newsletter</h3>
        <p>Get our latest insights, industry trends, resources & offers</p>
    <form class="newsletter-form" method="POST" data-netlify="true" name="JULZ Newsletter Form">
    <input type="email" placeholder="your@email.com" name="Email Subscription">
    <button type="submit">Subscribe</button>
  </form>
    <br>
  </div>
