{{ $project := .project_page }}
<article class="cell project-card">
  <a href="{{ $project.URL }}" class="project-card__link">
    {{ if $project.Params.thumb_image }}
    <div class="project-card__image">
      <img src="{{ $project.Params.thumb_image | relURL }}" alt="{{ $project.Params.thumb_image_alt }}" />
    </div>
    {{ end }}
    <header class="project-card__header">
      <h3 class="project-card__title">{{ $project.Params.title }}</h3>
      {{ if $project.Params.subtitle }}
      <div class="project-card__subtitle">
        {{ $project.Params.subtitle }}
      </div>
      {{ end }}
    </header>
  </a>
</article>
