<style>
  #notification-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 999;
    backdrop-filter: blur(5px); /* Add this for the blur effect */
    -webkit-backdrop-filter: blur(5px); /* Add this for the blur effect in webkit browsers */
}
</style>

<div id="notification-bar">
    <p>Want to climb to the 1st page of Google? Our free SEO guide will show you how. <a href="https://winning-inventor-367.ck.page/5bbd51fd8a">Get it now↗</a></p>
</div>

