<style>
#research-release-banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(299, 299, 299, 0.3); /* add this line to make the row transparent */
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 1;
    backdrop-blur: 10px; 
    font-size: 1em;
}
</style>

<div id="research-release-banner">
    <p>Want to climb to the 1st page of Google? Our free SEO guide will show you how. <a href="https://winning-inventor-367.ck.page/5bbd51fd8a">Get it now↗</a></p>
</div>

